.home {
	&__container {
		padding-top: 44px;
	}

	&__selects {
		display: flex;
		justify-content: space-between;
		padding: 30px 8px;
	}

	&__books-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		justify-content: center;
		margin-bottom: 20px;

		@include media-card-3 {
			grid-template-columns: repeat(3, 1fr);
		}

		@include media-card-2 {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media-card-1 {
			grid-template-columns: 320px;
		}
	}

	&__load-more-button-container {
		display: flex;
		justify-content: center;
	}
}

.selects {
	&__control:first-child {
		margin-right: 15px;
	}

	&__block {
		display: flex;

		@include media-mobile {
			flex-direction: column;
		}
	}
}

.books-found {
	font-size: 18px;
	color: $pink-color;
}
