.select {
	appearance: none;
	border: 0;
	outline: 0;
	background: 0;
	color: $select-color;
	font-size: 18px;
	padding: 5px;
	cursor: pointer;

	&__label {
		color: $select-label-color;
		font-size: 18px;
	}
}
